.app-header {
  background-color: #3f51b5;
  padding: 10px;
}

.header-title {
  flex-grow: 1;
}

.cart-icon {
  color: white;
}
/* styles.css */

/* מרכז את הכותרות */
h6 {
  text-align: center;
  /* מרכז את הטקסט */
  margin: 20px 0;
  /* מוסיף רווח סביב הכותרת */
}

/* סידור הקטגוריות */
.category-list {
  display: flex;
  /* הופך את הקטגוריות לשורה */
  flex-wrap: wrap;
  /* מאפשר שהקטגוריות ימשיכו בשורה חדשה אם אין מקום */
  justify-content: center;
  /* מרכז את הקטגוריות */
  gap: 16px;
  /* מוסיף רווח בין הקטגוריות */
}

/* רווחים בין השורות */
.category-input-container {
  margin-bottom: 20px;
  /* מוסיף רווח בין האינפוטים לסרגל */
}

.product-input {
  margin-top: 16px;
  /* מוסיף רווח בין שדה הקטגוריה לשדה המוצר */
}